/* Global colour palette */
:root {
    --black-purple: #140920;
    --orange: #FF5627;
    --off-white: #FEFFFE;
    --grey-purple: #3F3B54;
  }

  .navbar {
    background-color: var(--black-purple) !important;

  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 50px !important;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.navbar-brand {
    margin-left: 50px;
    font-size: 22px;
    color: var(--black-purple) !important;    
}

.nav-item {
    margin-right: 20px;
    
}

.nav-link {
    color: var(--off-white) !important;
}

.nav-link:hover {
  color: var(--orange) !important;
}

.jumbotron {
  background-image: url(../assets/images/Hero-image-resized.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(80vh - 25px);
}

.jumbotron {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--off-white);
}

.btn {
  background-color: var(--orange);
  border: var(--orange);
}

.btn:hover {
  color: var(--orange);
  background-color: var(--off-white);
  border: var(--off-white);
}